@font-face {
    font-family: "Goyang";
    src: url("fonts/Goyang.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
  
  
  html {
    box-sizing: border-box;
  }
  
  body{
    font-family: sans-serif;
    margin:  0 !important;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  #App {
    /* margin: 1.5em auto; */
    max-width: 100%;
    column-gap: 1.5em;
  }
.Header {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: black;
    height: 80px;
    z-index: 2;
    top: 0;

}
.Header > span {
    color:white;
    /* text-align: center; */
    width: 700px;
    /* width: 100%; */
}
.SubHeader {
  display: flex;
  width: 900px;
  position: relative;
  top: 100px;
  margin: auto;
  box-shadow: 0px 14px 52px 2px rgb(0 0 0 / 7%);
}
.menutabs {
    padding:0px 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.menutabs > div {
    text-align: center;
    padding: 15px 0;
    width: 25%;
    padding: 15px;
    color: black;


}
.sideMenu {
}
.sideMenu> button {
    border: 0;
    padding: 25px;
    background-color: teal;
}

.slideTabs {
    /* height: 100vh; */
    height: 100vh;
    text-align: center;
    width: 100%;
    background-color: #f0f0f0;
    display: flex;
    flex-wrap: wrap;
    /* grid-template-columns: repeat(35px, 4); */
    align-items: center;
    cursor: pointer;
    font-size: 22px;
    overflow-y: auto; 
}
.side-Tab{
  width: 100%;
}
.slideTabs > div:hover {
    /* transition: 300ms linear; */
    font-weight: 100;
    font-size: 24px;
    padding-bottom: 15px;
    border-bottom: 1px solid #4f4f4f;
    /* margin: 0 20%; */
}
.show {
  visibility: visible !important;
  display: flex !important;
  flex-wrap: wrap;
}
.shadow {
  box-shadow: 45px 3px 49px 4100vh #00000063;
}
/* .show-list {
  visibility: visible !important;
} */
.slidesubmenu {
  list-style: none;
  visibility: hidden;
  display: none;
  width: 100%;
  padding: 0;
}
.slidesubmenu > li {
  width: 100%;

}
.slideMenu {
    visibility: hidden;
    position: absolute;
    width: 30%;
    height: 100vh;
    background-color: #f0f0f0;
    margin-top: 80px;
    z-index: 1;
}

.MainList {
    width: 909px;
    margin-top: 10px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, minmax(218px, 1fr));
    grid-gap: 10px;
    position: relative;
    top: 160px;
}
.MainList .itembox2 {
  background-color: #eee;
  display: inline-block;
  margin: 0 0 1em;
  width: 100%;
}

.itembox2 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.itembox2 img{
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

  .SearchResult {
    width: 909px;
    margin-top: 10px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, minmax(218px, 1fr));
    grid-gap: 10px;
    position: relative;
    top: 160px;
  }
  
  .SearchResult img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .SearchResult .item {
    background-color: #eee;
    display: inline-block;
    margin: 0 0 1em;
    width: 100%;
  }
  
  .SearchInput {
    width: 900px;
    font-size: 40px;
    padding: 10px 15px;
    position: relative;
    top: 120px;
    margin: auto;
    display: flex;
    border: 1px solid gainsboro;
  }
  
  .ImageInfo {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .ImageInfo .title {
    display: flex;
    justify-content: space-between;
  }
  
  .ImageInfo .title,
  .ImageInfo .description {
    padding: 5px;
  }
  
  .ImageInfo .content-wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 5px;
  }
  
  .ImageInfo .content-wrapper img {
    width: 100%;
  }
  
  /* dark mode 처리
  @media (prefers-color-scheme: dark) {
    body {
      background-color: #000;
      color: white;
    }
  }
  *?
  